@model reviewapp.Models.Login

<div class="p-3 mb-2 bg-light text-dark">
  <h2 align="center">Please Login</h2>

  @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-group">
      @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
      <div class="input-group mb-3">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        <div class="is-invalid">
          @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
      </div>

      @Html.LabelFor(model => model.Password, new { @class = "control-label" })
      <div class="input-group mb-3">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
      </div>

      <input type="submit" value="Login" class="btn btn-primary" />
    </div>
  }
</div>

<style>
form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
body {
  background-color: #f8f9fa!important;
  padding-top: 60px;
}
</style>
