<div class="container">
<h2>Copy and paste this code in your website's source:</h2>

<textarea readonly="true" wrap="off" style="height:250px; width: 700px;">
&#x3C;div id=&#x22;reviewapp&#x22;&#x3E;
    &#x3C;script id=&#x22;reviewapp-comment&#x22; type=&#x22;x-tmpl-mustache&#x22;&#x3E;
      &#x3C;p&#x3E;&#x3C;strong&#x3E;{{rating}}&#x3C;/strong&#x3E;: {{content}}&#x3C;/p&#x3E;
    &#x3C;/script&#x3E;

    &#x3C;script id=&#x22;reviewapp-form&#x22; type=&#x22;x-tmpl-mustache&#x22;&#x3E;
      &#x3C;input type=&#x22;radio&#x22; id=&#x22;review1&#x22; name=&#x22;rating&#x22; value=&#x22;1&#x22;&#x3E; &#x3C;label for=&#x22;review1&#x22;&#x3E;1&#x3C;/label&#x3E;
      &#x3C;input type=&#x22;radio&#x22; id=&#x22;review2&#x22; name=&#x22;rating&#x22; value=&#x22;2&#x22;&#x3E; &#x3C;label for=&#x22;review2&#x22;&#x3E;2&#x3C;/label&#x3E;
      &#x3C;input type=&#x22;radio&#x22; id=&#x22;review3&#x22; name=&#x22;rating&#x22; value=&#x22;3&#x22;&#x3E; &#x3C;label for=&#x22;review3&#x22;&#x3E;3&#x3C;/label&#x3E;
      &#x3C;input type=&#x22;radio&#x22; id=&#x22;review4&#x22; name=&#x22;rating&#x22; value=&#x22;4&#x22;&#x3E; &#x3C;label for=&#x22;review4&#x22;&#x3E;4&#x3C;/label&#x3E;
      &#x3C;input type=&#x22;radio&#x22; id=&#x22;review5&#x22; name=&#x22;rating&#x22; value=&#x22;5&#x22;&#x3E; &#x3C;label for=&#x22;review5&#x22;&#x3E;5&#x3C;/label&#x3E;
      &#x3C;textarea&#x3E;&#x3C;/textarea&#x3E;
      &#x3C;button&#x3E;Review&#x3C;/button&#x3E;
      &#x3C;div id=&#x22;list&#x22;&#x3E;&#x3C;/div&#x3E;
    &#x3C;/script&#x3E;
  &#x3C;/div&#x3E;
  &#x3C;script src=&#x22;//secret-crag-71118.herokuapp.com/js/reviewapp.js&#x22; async&#x3E;&#x3C;/script&#x3E;
</textarea>
</div>
<style>
body { margin-bottom: 60px; }
body > .container { padding: 60px 15px 0; }
</style>
