<main role="main" class="container">
  <h1>Moderate Reviews</h1>

  <div class="row">
    <div class="col-sm">
    <div class="float-right">
      Your domain <strong>@ViewData["CurrentDomain"]</strong> have @Model.Count reviews.
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">

  <table class="table table-hover table-responsive-sm">
    <thead>
      <tr>
        <th scope="col">Content</th> 
        <th scope="col">Rating</th>
        <th scope="col">Page</th>
        <th scope="col" width="100"></th>
      </tr>
    </thead>

    <tbody>
    @foreach (var item in Model) {
      <tr id="review-item-@item.Id" class="table-@(item.Visible ? "success" : "active")">
        <td>@item.Content</td>
        <td>@item.Rating</td>
        <td>@item.PageId</td>
        <td>
          @if (item.Visible) {
            <a href="/Moderate/hide/@item.Id" class="btn btn-danger">Hide</a>
          } else {
            <a href="/Moderate/show/@item.Id" class="btn btn-success">Show</a>
          }
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
</div>
</main>
<style>
body { margin-bottom: 60px; }
body > .container { padding: 60px 15px 0; }
</style>
